# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement virtuel
*venv/
*env/
.venv/
ENV/
*env/
env_biblio/

# Variables d'environnement
.env
.env.local

# IDE
*.vscode/
.idea/
*.swp

# Système
.DS_Store
Thumbs.db